img{
  width: 40%;
  height: auto;
  padding: 3%;
  filter: drop-shadow(16px);
}
html{
  height: 100%
}
body{
  background-size: 100% 100%;
  background-attachment: fixed;
  background: #060;
  background-image: -o-radial-gradient(#070, #020);
  background-image: -moz-radial-gradient(#070, #020);
  background-image: -webkit-radial-gradient(#070, #020);
  background-image: radial-gradient(#070, #020);
}
