table{
	border-width: 10px;
	/*border-radius: 20px;*/
	/*border: solid;*/
	font-size: 200%;
	position: absolute;
	bottom: 3vh;
	left: 3vw;
	display: block;
}
td{
	background: rgba(255,255,255,0.4);
	border-radius: 16px;
	padding: 8px;
	margin: 8px;
	width: 64px;   
	text-align: center;
	height: 64px;   
	border: solid 2px black;
}